altgraph==0.17.4
auto-py-to-exe==2.44.1
blinker==1.8.2
bottle==0.12.25
bottle-websocket==0.2.9
Brotli==1.1.0
certifi==2024.7.4
charset-normalizer==3.3.2
click==8.1.7
Eel==0.17.0
Flask==3.0.3
future==1.0.0
gevent==24.2.1
gevent-websocket==0.10.1
greenlet==3.0.3
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
macholib==1.16.3
MarkupSafe==2.1.5
mutagen==1.47.0
packaging==24.1
pycryptodomex==3.20.0
pyinstaller==6.10.0
pyinstaller-hooks-contrib==2024.8
pyparsing==3.1.2
pytube==15.0.0
requests==2.32.3
urllib3==2.2.2
websockets==13.0
Werkzeug==3.0.4
whichcraft==0.6.1
yt-dlp==2024.8.6
zope.event==5.0
zope.interface==7.0.1
